@font-face {
    font-family: 'goldman-regular';
    src: url('../fonts/goldman/goldman-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'goldman-bold';
    src: url('../fonts/goldman/goldman-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'sansation-regular';
    src: url('../fonts/sansation/sansation-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'sansation-bold';
    src: url('../fonts/sansation/sansation-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'sansation-italic';
    src: url('../fonts/sansation/sansation-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'sansation-bold-italic';
    src: url('../fonts/sansation/sansation-bold-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'sansation-light';
    src: url('../fonts/sansation/sansation-light.ttf') format('truetype');
}

@font-face {
    font-family: 'sansation-light-italic';
    src: url('../fonts/sansation/sansation-light-italic.ttf') format('truetype');
}

body {
    font-family: 'sansation-regular';
    margin: 0;
    padding: 0;
    background-image: url(../images/fundo-talos.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #282828;
}

.navbar {
    font-weight: 700;
    background-color: #282828;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 14px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}   

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.navbar li {
    margin: 0;
    padding: 0;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    font-family: 'goldman-regular';
    text-transform: uppercase;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

.navbar a:hover {
    background-color: #695cc1;
    border-radius: 40px;
    box-shadow: 0 0 10px #b46fdc;
}

.content {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.module {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    background: #282828;
    border-radius: 10px;
    color: white;
    text-align: justify;
}

h1, h2 {
    font-size: 28px;
    font-family: 'goldman-regular';
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.subphrase {
    font-size: 16px;
    color: gray;
    text-align: left;
    margin: 0;
    padding: 0;
}

.description {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 70px
}

.pharagraph {
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
}

.photo {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #695cc1;
    box-shadow: 0 0 10px #b46fdc;
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
}

.items-module {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 24px;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px 10px 2px 10px;
    border: 1px solid #695cc1;
    border-radius: 8px;
    box-shadow: 0 0 10px #b46fdc;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a.item {
    text-decoration: none;
    color: white;
}

a.item:hover {
    text-decoration: underline;
}

.item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #b46fdc;
}

.item-subphrase {
    font-size: 14px;
    color: white;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
}

.footer {
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 4px 0;
    position: static;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
}

.team-container {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    background: #282828;
    border-radius: 10px;
}

.section {
    text-align: center;
    margin-bottom: 20px;
}

.section h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
    border-bottom: 2px solid #695cc1;
    display: inline-block;
    padding-bottom: 5px;
}

.member-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 80px;
}

.member-photo {
    width: 120px;
    height: 120px;
    border-radius: 30px;
    object-fit: cover;
    border: 1px solid #695cc1;
    box-shadow: 0 0 10px #b46fdc;
}

.member-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.member-name {
    font-size: 20px;
    font-weight: bold;
    color: white;
    align-items: flex-start;
}

.video-container-vertical {
    width: 600px;
    height: 900px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    overflow: hidden;
}

.video-container-vertical video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
    border: 1px solid #695cc1;
    box-shadow: 0 0 10px #b46fdc;
}

.video-container-vertical-2 {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    overflow: hidden;
}

.video-container-vertical-2 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
    border: 1px solid #695cc1;
    box-shadow: 0 0 10px #b46fdc;
}

.video-container-horizontal {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
}

.video-container-horizontal video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #695cc1;
    box-shadow: 0 0 10px #b46fdc;
}

.pdf-container {
    width: 100%;
    max-width: 600px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #695cc1;
    box-shadow: 0 0 10px #b46fdc;
}

.pdf-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.highlight {
    font-family: 'sansation-bold-italic';
}
