@font-face {
    font-family: 'goldman-regular';
    src: url('../fonts/goldman/goldman-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'goldman-bold';
    src: url('../fonts/goldman/goldman-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'sansation-regular';
    src: url('../fonts/sansation/sansation-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'sansation-bold';
    src: url('../fonts/sansation/sansation-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'sansation-italic';
    src: url('../fonts/sansation/sansation-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'sansation-bold-italic';
    src: url('../fonts/sansation/sansation-bold-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'sansation-light';
    src: url('../fonts/sansation/sansation-light.ttf') format('truetype');
}

@font-face {
    font-family: 'sansation-light-italic';
    src: url('../fonts/sansation/sansation-light-italic.ttf') format('truetype');
}

body {
    font-family: 'sansation-regular', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/fundo-talos.svg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #282828;
}

.navbar {
    font-weight: 700;
    background-color: #282828;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 14px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}   

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.navbar li {
    margin: 0;
    padding: 0;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    font-family: 'goldman-regular', sans-serif;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

.navbar a:hover {
    background-color: #695cc1;
    border-radius: 40px;
    box-shadow: 0 0 10px #b46fdc;
}

.content {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.module {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    background: #282828;
    border-radius: 10px;
    color: white;
    text-align: justify;
}

h1, h2 {
    font-size: 28px;
    font-family: 'goldman-bold';
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.subphrase {
    font-size: 16px;
    color: gray;
    text-align: left;
    margin: 0;
    padding: 0;
}

.description {
    text-align: center;
    margin-bottom: -10px;
    margin-top: 40px
}

.photo {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 40px;
    overflow: hidden;
    border-radius: 40px;
    align-items: center;
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
}

.items-module {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 24px;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px 10px 2px 10px;
    border: 1px solid #695cc1;
    border-radius: 8px;
    box-shadow: 0 0 10px #b46fdc;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #b46fdc;
}

.item-subphrase {
    font-size: 14px;
    color: white;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
}

.footer {
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 4px 0;
    position: static;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
}